imageio==2.25.1
imageio-ffmpeg==0.4.8
imagesize==1.4.1
ipython-sql==0.4.1
Pillow==8.4.0
requirements-parser==0.5.0
scikit-image==0.19.3
scikit-learn==1.2.2
scipy==1.10.1
scs==3.2.3
seaborn==0.12.2
sklearn-pandas==2.2.0
tensorboard==2.12.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-datasets==4.9.2
tensorflow-estimator==2.12.0
tensorflow-gcs-config==2.12.0
tensorflow-hub==0.13.0
tensorflow-io-gcs-filesystem==0.32.0
tensorflow-metadata==1.13.1
tensorflow-probability==0.20.1
tensorstore==0.1.36
numpy==1.22.4
gcsfs
git+https://github.com/streamlit/files-connection
opencv-python-headless==4.7.0.72
